@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>HTTP 404</h1>
 <h3>The resource you are looking for doesn’t exist or is temporarily unavailable. Please review the following URL and make sure that it is spelled correctly.</h3>  