
@{
    ViewBag.Title = "ThankYouView";
}
<link href="~/Content/ThankYouStyle.css" rel="stylesheet" />
<body>

    <div class="blog-card alt">
        <div class="meta">
            <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div>
            <ul class="details">
                <li class="BookName"><a href="#">Harry Potter</a></li>
                <li class="author"><a href="#">Jane Doe</a></li>
                <li class="date">Expected Date: July. 15, 2015</li>

            </ul>
        </div>
        <div class="description">
            <h1 style="color:forestgreen">Your Order Has Been Successfully Placed</h1>
            <h2>An email conformation has been sent to your email</h2>
          
            <p>Books will be shipped to your location by Tome.com</p>
            <p class="read-more">
                <a href="#">Review or Edit your order</a>
            </p>
        </div>
    </div>
</body>