
@{
    ViewBag.Title = "AboutUs";
}

<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
<body style="background-color:#1C1C1E; font-family:ubuntu">
    <center><h2 style="color:#FE375F">About Us</h2></center>
    <div style="color:whitesmoke">
        <p>
            <br />
            <div class="container" style="color:whitesmoke;margin-left:50px;margin-right:50px">

                It is been said that one lives numerous lives, when one reads books.<br />
                <br />
                In today’s world of speed, internet, television and malls, the habit of reading books has taken a hit. This can be attributed to the following reasons:<br />
                <br />
                1) No time to go browse through Book shops or Libraries.<br />
                <br />
                2) Lack of libraries in the vicinity<br />
                <br />
                3) Old library system with its difficulty to navigate and browse<br />
                <br />
                4) Books have become very expensive to purchase<br />
                <br />
                5) Advent of the Internet / TV as alternate sources of entertainment<br />
                <br />
                Through this venture we intend to make reading books a hassle free, cost effective and pleasurable experience. All you have to do is just sign up, choose a membership plan and order the books that you want to read. We deliver the books to your doorstep, free of cost. After you finish reading, just inform us and we will deliver the next books and do a free pick of the previous set of books.
                TOME – a company formed in 2019 by 6 friends with a mission to help people foster their habit of reading. The vision is to ensure that the habit of reading prevails and is passed on to the next generations. In this era of technological revolution, we strive to ensure that there is a market for books in printed format,
                Tome offers online customers a premier destination for renting multilingual books.
                <br />
                We as readers identified the following issues:<br /><br />
                - Limited number of libraries with very limited collection of books<br /><br />
                - Reading is an expensive hobby; one cannot buy all the books to read<br /><br />
                - In these busy times readers were not able to take out time to foster their habit, travel too and from work took most of their time and the traffic added to the exhaustion<br />
                <br />
                The idea was to solve the above, if the reader could not come to a library/bookstore, what if we took the library to them. We started speaking with several readoholics outside several bookshops, interviewing them and understanding their requirements and chalking out the solutions plan.<br />
                <br />
                Tome started operations on March 10, 2019 in Chennai , and slowly started getting members by word of mouth, within the first few months itself we started getting a great response and a huge demand from other cities in the country, now we extended our services in Bangalore and Mumbai.<br />
            </div>
        </p>
    </div>
</body>

