<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body style="background-color:#1C1C1E; font-family:ubuntu;color:whitesmoke">
    <h2 style="color:whitesmoke">Contact Us</h2>
    <h3 style="color:#FE375F">Head Office</h3>
    <table style="border:0;margin-left:10px">
        <thead>Chennai</thead>
        <tr>
            <td style="padding:10px">
                Contact Person:&nbsp;&nbsp;
            </td>
            <td style="padding:10px">
                Srivatsav Konda
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                Address:
            </td>
            <td style="padding:10px">
                1, 124, DLF IT Park Rd<br />Ramapuram<br />Chennai<br />Tamil Nadu
            </td>
        </tr>
    </table><br />
    <h3 style="color:#FE375F">Branch Office</h3>
    <table style="border:0;margin-left:10px">
        <thead>Bangalore</thead>
        <tr>
            <td style="padding:10px">
                Contact Person:&nbsp;&nbsp;
            </td>
            <td style="padding:10px">
                Anirudh J L
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                Address:
            </td>
            <td style="padding:10px">
                Rajapura<br />Near-Jigani Lake<br />Electronic City<br />Bengaluru<br />Karnataka
            </td>
        </tr>
    </table>
    <h3 style="color:#FE375F">Branch Office</h3>
    <table style="border:0;margin-left:10px">
        <thead>Mumbai</thead>
        <tr>
            <td style="padding:10px">
                Contact Person:&nbsp;&nbsp;
            </td>
            <td style="padding:10px">
                Vasanthakumar V G
            </td>
        </tr>
        <tr>
            <td style="padding:10px">
                Address:
            </td>
            <td style="padding:10px">
                Powai<br />Near Powai Lake<br />Andheri East<br />Mumbai<br />Maharashtra
            </td>
        </tr>
    </table>
    <hr />
    To discuss Marketing / Public Relations/ Press Release or Investment opportunities, please do drop an email to <sapn style="color:#FE375F">srivatsav@tome.com /Anibhat@tome.com /support@tome.com</sapn>
</body>