
@{
    ViewBag.Title = "FAQ";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body style="background-color:#1C1C1E;color:whitesmoke">
    <h3 style="margin-left:50px">Frequently Asked questions</h3>
    <br />
    <br />
    <h3 style="font-family:Ubuntu;margin-left:50px;color:#FE375F">About Tome</h3>
    <br />
    <div class="card" style="margin-left:50px;margin-right:50px;background-color:#1C1C1E;color:whitesmoke;border-color:whitesmoke">
        <div class="centered">
            <div class="card-header" style="font-family:Ubuntu;font-weight:900;border-color:whitesmoke">
                1. What is <span style="color:#FE375F">TOME</span>&nbsp;?
            </div>
            <div class="card-body">
                <ul>
                    <li>Convenience – Doorstep delivery and pick up services</li>
                    <li>Collection – Over one Hundred books to choose from</li>
                    <li>Choice - Books available in more than three languages</li>
                    <li>We Offer Books at <span style="color:#FE375F">10%</span> of Book price</li>
                </ul>
            </div>
            <div class="card-footer" style="color:#FE375F">
            </div>
        </div>
    </div>
    <br />
    <div class="card" style="margin-left:50px;margin-right:50px;background-color:#1C1C1E;color:whitesmoke;border-color:whitesmoke">
        <div class="centered">
            <div class="card-header" style="font-family:Ubuntu;font-weight:900;border-color:whitesmoke">
                2. How many books do you have in your library&nbsp;?
            </div>
            <div class="card-body">
                We have books that you can choose from, we have books in 3 languages. Our collection of books is well distributed among the following categories which are further divided into categories and sub-categories for easy access of members:
                <ul>
                    Categories
                    <li>Biography</li>
                    <li> Business and Management</li>
                    <li>Children</li>
                    <li>Fiction</li>
                    <li>History and current affairs</li>
                    <li>Non-fiction</li>
                    <li>Religion</li>
                    <li>Poem</li>
                </ul>
                <ul>
                    Sub-categories
                    <li>Business Personalities</li>
                    <li>Politicians And Leaders</li>
                    <li>Finance</li>
                    <li>Leadership</li>
                    <li>Marketing and Sales</li>
                    <li>Schoolbooks</li>
                    <li>Classic stories</li>
                    <li>Action and Adventures</li>
                    <li>Literacy and Fiction</li>
                    <li>Mystery and Thrillers</li>
                    <li>Romance</li>
                    <li>Science Fiction and Fantasy</li>
                    <li>Current affairs</li>
                    <li>Politics and economics</li>
                    <li>Travel</li>
                    <li>General</li>
                    <li>Mythology</li>
                    <li>Spirituality</li>
                    <li>Poems</li>
                    <li>Sports Personalities</li>
                </ul>
            </div>
            <div class="card-footer" style="color:#FE375F">
            </div>
        </div>
    </div>
</body>


