
@{
    ViewBag.Title = "HowToPay";
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body style="background-color:#1C1C1E; font-family:Ubuntu;color:whitesmoke;text-align:center">
    <h2 style="text-align:center;color:whitesmoke">How To Pay</h2>
    <br />
    <ul style="list-style-type:none;color:#FE375F">
        <li>
            Cash On Delivery (COD)
        </li>
        <li>
            Google Pay to Delivery Person
        </li>
        <li>
            Paytm to Delivery Person
        </li>
        <li>
            PhonePay to Delvery Person
        </li>
    </ul>

</body>

