
@{
    ViewBag.Title = "PrivacyPolicy";
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body style="background-color:#1C1C1E; font-family:Ubuntu;color:white;text-align:justify">
    <h2 style="text-align:center;color:whitesmoke">Privacy Policy</h2><br />
    <p style="color:white;margin-left:50px;margin-right:50px">
        <h4><span style="color:#FE375f;font-weight:500">Privacy:</span></h4>
        <br /><br />
    <p style="color:white">
        TOME is strongly committed to protecting the privacy of our Users.
        This privacy policy document contains information which you should go through so that you fully understand the terms involved in your subscribing to our service, and how we use the personal information submitted by you to avail this service.
        When you register at TOME.com, we ask you to provide us with your personal information.
        Personal information means information that can be used to identify and contact you.
        These include your name, postal delivery address, e-mail address,telephone number, Date of birth, as well as other information when such information is combined with your personal information.
        We use this information to process your orders and to communicate with you about the status of your orders.
        We use your email address to send you messages about TOME special offers, promotional announcements and consumer surveys.
        We also send email to reply to your queries that you may have about TOME.
        We use your telephone number only if there is delivery related issue.
        We may also use that information to let you know of additional products and services in which you might be interested.
        We may ask you for information about your interests and preferences to serve you better, but it’s your choice to respond or not.
    </p>
    <br /><br />
    <h4>
        <span style="color:#FE375F;font-weight:500">
            Disclosure:
        </span>
    </h4>
    <br /><br />
    <p style="color:white">
        Except as described in this section, we will not sell, rent or disclose your personal identification to third parties without notifying you of our intent to share the information and giving you an opportunity to prevent your information from being shared.
        We occasionally use other companies, agents or contractors to perform services necessary to our operations.
        We also provide postal addresses to the Courier Service for delivery purposes.
        In the course of providing such services, these companies may have contact with your personal identification.
        We will not be liable for any damages that may result from the misuse of your personal information by these companies.
        From time to time, we may partner with companies whose products we believe will interest our members.
        In conjunction with these partners, we occasionally send promotional announcements to particular members.
        TOME also reserves the right to disclose personal information when disclosure is required by law, if we reasonably believe disclosure is necessary to establish or exercise legal rights, or in situations involving potential threats to physical safety.
        We also provide analyses of our members in the aggregate to prospective partners, advertisers and other third parties. We do this so that we, and our advertisers can understand you better, and so we can keep bringing you the best services.
        We may also disclose, on an anonymous basis, literal statements made by our members.
        At no time, however, will we disclose personal information about specific members.
        Members should check back for updates to this policy.
        Accordingly, we cannot guarantee the security of your personal information and cannot assume liability for improper access to it.
        By using this Web site, or providing personal information to us through any means, you agree that we can communicate with you electronically regarding security, privacy, and administrative issues relating to your use of this site.
        <br /><br />
    </p>
    <h4>
        <span style="color:#FE375F;font-weight:500">
            Changes To This Policy:
        </span>
    </h4><br /> <br />
    <p style="color:white">
        We may make changes to this policy as and when needed.
        You should check back for updates to this policy from time to time.
        The privacy policy can be viewed any time by visiting the Privacy Policy page on TOME website.
    </p>
</body>

