
@{
    ViewBag.Title = "TermsofUse";
}

<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body style="background-color:#1C1C1E; font-family:Ubuntu;color:whitesmoke;text-align:justify">
    <center><h2 style="color:whitesmoke">Terms of Use</h2></center>
    <br /><br />
    <p style="color:whitesmoke;margin-left:50px;margin-right:50px">
        We recommend that you carefully go through our Terms of Use, to better understand the different features of our service, and information about our Website. Click the links below to access the information within.<br />
        <br />
        <p1>
            <span style="color:#FE375F">Acceptance Of Tems Of Use:</span><br /><br />
            These "Terms Of Use" govern your use of the Tome Website hereinafter referred to as "Service".
            The Service is owned and operated by Tome Service and is offered to you (hereinafter referred to as "Member")
        </p1><br /><br />
        <p1>
            By browsing, visiting and using Tome Website, you accept and agree to abide by these Terms of Use.
            If you do not agree to these Terms of Use, you should not use the Tome Website.
            These Terms of Use are an ongoing contract between you and Tome and apply to your use of the Tome service and Website.
            These Terms of Use affect your rights and you should read them carefully.
        </p1><br /><br />
        <p1>
            <span style="color:#FE375F">Changes To Terms Of Use:</span><br /><br />
            Tome reserves the right, from time to time, with or without notice to you, to change these Terms of Use in our sole and absolute discretion.
            The most current version of these Terms of Use can be reviewed by clicking on the "Terms of Use" located at the bottom of the pages of the Tome Website.
            The most current version of the Terms of Use will supersede all previous versions.
            Your use of the Tome Website or continued use of our service after changes are made means that you agree to be bound by such changes.
        </p1><br /><br />
        <p1>
            <span style="color:#FE375F">
                Cancellation:
            </span><br /><br />
            You may cancel your subscription to Doorstepbooks™ at any time, and cancellation will be effective immediately.
            WE DO NOT PROVIDE REFUNDS OR CREDITS FOR ANY PARTIAL-MONTH SUBSCRIPTION PERIODS OR UNREAD BOOK(S).
            To cancel your membership you need to mail on our customer care and request the same to our customer care executive.
            Upon cancellation, you will be given 5 days to return any outstanding rentals.
            Failure to return such rentals will result in your Payment Method being billed for such items.
            TOME reserves the right to terminate your membership for any or no reason.
            Disclaimers of Warranties and Limitations on Liability.
        </p1><br /><br />
        <p1>
            <span style="color:#FE375F">
                Damaged Books:
            </span>
            <br /><br />
            All books sent to a member are verified to be in a good condition prior to dispatch and condition of each book is recorded in our system.
            Upon receipt of the books, you must ensure that the books are in good condition. Any damage, if found, must be reported to our representative and conveyed to Tome customer service via email or phone.
            At the time of pick-up, our representative will check for any damage to the books and will intimate you accordingly.
            Upon receipt of the books, we will verify the condition of the book against the condition recorded in our system before dispatch.
            If a book is returned to Tome damaged as a result of member misuse, Tome will charge you the market value of each damaged book against the security deposit.
            If Tome determines that a book was damaged during transit, Tome will not charge member for the damaged book.
        </p1><br /><br />
    </p>
</body>
