<div style="text-align:center;font-size:50px;font-family:'ubuntu';margin-top:80px;color:white">TOME</div>
<p style="text-align:center;font-size:35px;font-family:'ubuntu';color:white">To build a Rental BOOk Empire.</p>

<style>
    .Numbers {
        font-size: 100px;
        font-family: 'Arial Rounded MT';
        font-weight: 300;
        padding: 0 10px 0 0;
    }

    .quote {
        font-size: 30px;
        font-family: 'Arial Rounded MT';
        font-weight: 100;
        text-align:center;
        background-color:black;
    }

    .para {
        font-size: 23px;
        font-family: 'ubuntu';
    }

    .ad {
        background-color: white;
        border-radius: 20px;
        align-content: center;
        height: 250px;
        padding-top: 15px;
        width: 1200px;
        margin-top: 80px;
        margin-bottom:80px;
    }
</style>
<div style="
                     margin: 0 auto;
                     width:1050px;
                     height:100px;
                     text-align:center">
    <br />
    <p style="
                 font-size: 23px;
                font-weight: 500;
                font-family: 'Ubuntu';
                animation: an 2s;
                color:white">

        The Hermes & Thoth has three basic product lines, each of which includes one or multiple 12-foot inner diameter tunnel(s), project engineering and planning documentation, and environmental review and permitting.  Hermes & Thoth has finite bandwidth, and will prioritize partnering with forward-looking cities, states and companies to make the technology as useful as possible. Contact tunnels@HermesThoth.com for additional information.
        Estimated project pricing can typically be provided within 1 week. Stay tuned for the Tunnel Price Calculator coming to this site in 2019, where the user can enter product line, location, geology type, and length, and the calculator will return a project price range maximum and minimum.
    </p>
</div>

<div style="margin-top:300px;color:white;">
    <center>
        <table style="margin:0;padding-left:10px">
            <tr>
                <th></th>
                <th class="quote" style="padding:0 0 25px 0">REQUEST</th>
            </tr>
            <tr>
                <td rowspan="3" class="Numbers">1</td>
                <td class="para">
                    Explore and find the reading resources you need<br /> to craft a experience of dreaming with open eyes.<br />
                    Share your request voice of desired books on TOME.
                </td>
                <td rowspan="4"><img src="~/Images/slider/3_buy_coins-portal.PNG" style="padding:0 0 0 250px; height:200px;width:600px"></td>

                
            </tr>
        </table>
        <table style="margin:0;padding-left:10px">
            <tr>
                <th></th>
                <th class="quote" style="padding:0 0 25px 0">RECEIVE</th>
            </tr>
            <tr>
                <td rowspan="3" class="Numbers">2</td>
                <td class="para">
                    There is time and place for books.And right now in <br />your hand.
                    Just make a request and we are here to bring <br />
                    them in your hands and your place.Ofcourse,<br />they will reach you soon.
                </td>
                <td rowspan="4"><img src="~/Images/slider/3_buy_coins-portal.PNG" style="padding:0 0 0 250px; height:200px;width:600px"></td>

            </tr>
        </table>
        <table style="margin:0">
            <tr>
                <th></th>
                <th class="quote" style="padding:0 0 25px 0">READ</th>
            </tr>
            <tr>
                <td rowspan="3" class="Numbers">3</td>
                <td class="para">
                    We do believe that something magical can happen when you<br /> read a BOOK.
                    So,please feel the magic and that's all the <br />therapy you will need.
                </td>
                <td rowspan="4"><img src="~/Images/slider/3_buy_coins-portal.PNG" style="padding:0 0 0 250px; height:200px;width:600px"></td>
            </tr>
        </table>
        <table style="margin:0">
            <tr>
                <th></th>
                <th class="quote" style="padding:0 0 25px 0">RETURN</th>
            </tr>
            <tr>
                <td rowspan="3" class="Numbers">4</td>
                <td class="para">
                    That's okay to return the books after reading,<br />because you get have the ideas with you.<br />
                    So return the books and let someone else enjoy them
                </td>
                <td rowspan="4"><img src="~/Images/slider/3_buy_coins-portal.PNG" style="padding:0 0 0 250px; height:200px;width:600px"></td>
            </tr>
        </table>
    </center>
</div>

<center>

    <div class="ad">
        <center>
            <img src="~/Images/slider/SEPT_VOUCHER_NEW._1112x223.jpg" />
        </center>
    </div>
</center>
