 

<div style="margin-left:150px;margin-top:50px">

    <div>
        <br /><br /><br />
        <p style="color:#FE375F;font-size: 50px;
            font-weight: 600;
            font-family: 'Ubuntu';
            text-decoration: none;
            float: left;
            padding-left:410px;
            padding-top: 0px">You Request |</p>
    </div>
    <div>
        <p style="color:white;font-size: 50px;
            font-weight: 600;
            font-family: 'Ubuntu';
            text-decoration: none;
            float: left;
            padding-left: 10px;
            padding-top: 0px;
            z-index: -1;
            position: relative;
            animation: mymove 2s;
            animation-fill-mode: forwards">We Deliver</p>
    </div>

</div>
