@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="jumbotron">
    <h1>Learning Partial Pages March 2021 </h1>
    @Html.Partial("_UpcomingMovies")
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<p>Use this area to provide additional information.</p>
